{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %} Редактирование рецепта {% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static "/pages/form.css" %}">
{% endblock %}
{% block nav %}
    {% include "nav.html" with recipe_add=True %}
{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title"> Редактирование рецепта </h1>
    </div>
    <div class="form-container">
        {% include "form_recipe.html" with change=True recipe_id=recipe_obj.pk username=recipe_obj.author%}
    </div>

<script src="{% static "js/config/config.js" %}"></script>
<script src="{% static "js/components/Header.js" %}"></script>
<script src="{% static "js/utils/debouncing.js" %}"></script>
<script src="{% static "js/api/Api.js" %}"></script>
<script src="{% static "formRecipe.js" %}"></script>
{% endblock %}
